// mixins
@mixin gridBoxModal() {
  margin: 0;
  padding: 0;
}

@mixin gridColumn($container) {

  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  padding: 0;
  font-size: $ax6ui-grid-font-size;
  border: 0 none;
  border-radius: 0;

  &.hasBorder {
    border-right: $ax6ui-grid-column-border;
    border-bottom: $ax6ui-grid-column-border;
  }
  &.isLastColumn {

  }
  &.lineNumberColumn {

  }
  &.focused {
    box-shadow: $ax6ui-grid-cell-focused-box-shadow;
  }

  @if ($container == "header") {
    cursor: pointer;
    box-shadow: $ax6ui-grid-header-column-box-shadow;
    &:hover {
      @include ax-background(top, $ax6ui-grid-header-column-hover-bg-colors);
    }
    &[data-ax6grid-column-row="null"] {
      box-shadow: none;
    }
  }

  &[data-ax6grid-column-row="null"] {
    border-right: 0 none;
  }

  &[data-ax6grid-column-selected] {
    background: $ax6ui-grid-cell-selected-bg;
    border-color: $ax6ui-grid-cell-selected-border-color;
    color: $ax6ui-grid-cell-selected-color;
  }

  &[data-ax6grid-column-focused] {
    box-shadow: $ax6ui-grid-cell-focused-box-shadow;
    background: $ax6ui-grid-cell-focused-bg;
    color: $ax6ui-grid-cell-focused-color;
  }

  &[data-ax6grid-column-attr="rowSelector"] {
    cursor: pointer;
    [data-ax6grid-cellHolder] {
      padding: $ax6ui-grid-cell-padding-row-selector;
    }

    .checkBox {
      display: inline-block;
      position: relative;
      border: $ax6ui-grid-cell-checkbox-border;
      border-radius: $ax6ui-grid-cell-checkbox-border-radius;
      @include ax-background(top, $ax6ui-grid-cell-checkbox-bg-colors);
      height: 100%;
      width: 100%;
      &:after {
        content: '';
        width: 60%;
        height: 40%;
        position: absolute;
        top: 20%;
        right: 20%;
        border: 0.2em solid $ax6ui-grid-cell-checkbox-arrow-color;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0.0;
        @include transform(rotate(-50deg));
      }
    }
    &[data-ax6grid-selected="true"] {
      .checkBox {
        &:after {
          opacity: 1;
        }
      }
    }
  }

  &[data-ax6grid-column-attr="lineNumber"] {
  }

  [data-ax6grid-cellHolder] {
    // 그리드 셀표현 : 그리드의 컬럼텍스트가 여기에 출력됨
    display: block;
    box-sizing: border-box;
    padding: $ax6ui-grid-cell-padding;
    font-size: $ax6ui-grid-font-size;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @if ($container == "header") {
      //text-align: center;
    }

    &[data-ax6grid-text-align="left"] {
      text-align: left;
    }
    &[data-ax6grid-text-align="center"] {
      text-align: center;
    }
    &[data-ax6grid-text-align="right"] {
      text-align: right;
    }
    &[data-ax6grid-cellHolder="multiLine"] {
      white-space: normal;
    }

    [data-ax6grid-editor] {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 0 none;
      background: $ax6ui-grid-bg;
      &::-ms-clear {
        display: none;
      }
    }

    [data-ax5select] {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 0 none;
      background: $ax6ui-grid-bg;
      .ax5select-display {
        height: 100%;
        border-radius: 0;
      }
    }

    [data-ax6grid-editor="checkbox"] {
      display: inline-block;
      position: relative;
      border: $ax6ui-grid-cell-checkbox-border;
      border-radius: $ax6ui-grid-cell-checkbox-border-radius;
      @include ax-background(top, $ax6ui-grid-cell-checkbox-bg-colors);
      height: 100%;
      &:after {
        content: '';
        width: 60%;
        height: 40%;
        position: absolute;
        top: 20%;
        right: 20%;
        border: 0.2em solid $ax6ui-grid-cell-checkbox-arrow-color;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0.0;
        @include transform(rotate(-50deg));
      }
      &[data-ax6grid-checked="true"] {
        &:after {
          opacity: 1.0;
        }
      }
    }

    [data-ax6grid-tnode-arrow] {
      display: inline-block;
      box-sizing: content-box;
      text-align: right;
      text-shadow: 0 -1px #fff;
      padding: 0 5px 0 0;
    }
    a[data-ax6grid-tnode-arrow] {
      cursor: pointer;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    [data-ax6grid-tnode-item="group"] {
      display: inline-block;
    }
    [data-ax6grid-tnode-item="item"] {
      display: inline-block;
    }
  }
}

@mixin gridRowBackground() {
  &.tr-0 {
    background: $ax6ui-grid-row-bg-0;
  }
  &.tr-1 {
    background: $ax6ui-grid-row-bg-1;
  }
  &.tr-2 {
    background: $ax6ui-grid-row-bg-2;
  }
  &.tr-3 {
    background: $ax6ui-grid-row-bg-3;
  }
  &.hover {
    background: $ax6ui-grid-row-hover-bg;
  }
  &[data-ax6grid-grouping-tr="true"] {
    background: $ax6ui-grid-row-grouping-bg;
  }
  &[data-ax6grid-selected="true"] {
    background: $ax6ui-grid-row-selected;
    td {
      //color: #fff;
      //box-shadow: inset 1px 1px 0 0 #fff;
      &[data-ax6grid-column-attr="rowSelector"],
      &[data-ax6grid-column-attr="lineNumber"] {
        box-shadow: none;
      }
      &[data-ax6grid-column-attr="rowSelector"] {
        .checkBox {
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
  &[data-ax6grid-disable-selection="true"] {
    // background: $ax6ui-grid-row-selected;
    td {
      &[data-ax6grid-column-attr="rowSelector"] {
        .checkBox {
          cursor: not-allowed;
          @include ax-background(top, $ax6ui-grid-cell-disable-checkbox-bg-colors);
          &:after {
            opacity: 0;
          }
        }
      }
    }
  }

  // mergeCells 대상 컬럼 배경생 통일.
  td.merged {
    background: $ax6ui-grid-row-bg-1;
  }
}

@mixin gridPanel($container) {
  [data-ax6grid-panel] {
    @include gridBoxModal();
    position: absolute;
    overflow: hidden;
    /*
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    transform: translate3d(0, 0, 0);
    */

    table {
      table-layout: fixed;
      border-collapse: separate;
      border-spacing: 0;
      border: 0 none;
      width: 100%;
      @if ($container == "header") {
        height: 100%;
      }
      tr {
        border-bottom: 0 none;
        @include gridRowBackground();
        td {
          @include gridColumn($container);

        }
      }
    }

    &[data-ax6grid-panel="aside-header"] {
      border-right: $ax6ui-grid-aside-border;
      table {
        tr {
          td {
            text-align: center;
          }
        }
      }
    }
    &[data-ax6grid-panel="top-aside-body"],
    &[data-ax6grid-panel="aside-body"],
    &[data-ax6grid-panel="bottom-aside-body"] {
      border-right: $ax6ui-grid-aside-border;
      background: $ax6ui-grid-aside-bg;
      table {
        tr {
          background: $ax6ui-grid-aside-bg;
          td {
            text-align: center;
            box-shadow: $ax6ui-grid-aside-column-shadow;
          }
        }
      }
    }

    &[data-ax6grid-panel="left-header"],
    &[data-ax6grid-panel="top-left-body"],
    &[data-ax6grid-panel="left-body"],
    &[data-ax6grid-panel="bottom-left-body"] {
      border-right: $ax6ui-grid-frozen-line-border; /// frozen Line color
    }

    &[data-ax6grid-panel="top-aside-body"],
    &[data-ax6grid-panel="top-left-body"],
    &[data-ax6grid-panel="top-body"],
    &[data-ax6grid-panel="top-right-body"] {
      border-bottom: $ax6ui-grid-frozen-line-border; /// frozen Line color
    }

    &[data-ax6grid-panel="bottom-aside-body"],
    &[data-ax6grid-panel="bottom-left-body"],
    &[data-ax6grid-panel="bottom-body"],
    &[data-ax6grid-panel="bottom-right-body"] {
      border-top: $ax6ui-grid-footsum-line-border; /// footSum Line color
    }

    &[data-ax6grid-panel="bottom-aside-body"],
    &[data-ax6grid-panel="bottom-left-body"],
    &[data-ax6grid-panel="bottom-body"],
    &[data-ax6grid-panel="bottom-right-body"] {
      background: $ax6ui-grid-footsum-bg;
    }

    [data-ax6grid-panel-scroll] {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

@mixin scrollBar($type) {
  position: absolute;
  top: 0;
  left: 0;
  @include border-top-radius($ax6ui-grid-scroll-bar-border-radius);
  @include border-bottom-radius($ax6ui-grid-scroll-bar-border-radius);
  box-sizing: border-box;
  border: $ax6ui-grid-scroll-bar-border;
  background: $ax6ui-grid-scroll-bar-bg;

  @if ($type == "vertical-bar") {
    cursor: ns-resize;
  } @else {
    cursor: ew-resize;
  }

  &:hover {
    border: $ax6ui-grid-scroll-bar-hover-border;
    background: $ax6ui-grid-scroll-bar-hover-bg;
  }
}

@mixin resizer($type: "horizontal") {
  display: none;
  &.live {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: $ax6ui-grid-resizer-color;
    opacity: 0.5;

    @if ($type == "vertical") {
      height: $ax6ui-grid-resizer-size;
      width: 100%;
      cursor: row-resize;
    } @else {
      height: 100%;
      width: $ax6ui-grid-resizer-size;
      cursor: col-resize;
    }

  }
}

// body
[data-ax6ui-grid] {
  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  [data-ax6grid-container="root"] {
    @include gridBoxModal();
    position: relative;
    background: $ax6ui-grid-bg;
    border: $ax6ui-grid-border;
    overflow: hidden;

    [data-ax6grid-container="hidden"] {
      @include gridBoxModal();
      position: absolute;
      //z-index: 100;
      left: -100%;
      top: -100%;
      height: 100%;
      width: 100%;
    }

    [data-ax6grid-container="header"] {
      user-select: none;
      @include gridBoxModal();
      position: relative;
      overflow: hidden;
      @include ax-background(top, $ax6ui-grid-header-column-bg-colors);
      border: 0 none;
      border-bottom: $ax6ui-grid-header-column-border;
      @include gridPanel("header");
      color: $ax6ui-grid-header-column-color;
      [data-ax6grid-column-resizer] {
        position: absolute;
        right: 0;
        top: 0;
        width: $ax6ui-grid-header-column-resizer-size;
        height: 100%;
        cursor: col-resize;
        &:hover {
          background: $ax6ui-grid-header-column-resizer-color;
          opacity: 0.5;
        }
      }
      [data-ax6grid-column-sort] {
        position: relative;
        //right: 0;
        //top: 2px;
        margin-left: 4px;
        padding-top: 4px;
        width: 10px;
        height: 10px;
        display: inline-block;

        @mixin sort-arrow($arrow-size, $ratio-0, $ratio-1, $arrow-color, $opacity, $direction) {
          position: absolute;
          content: ' ';
          width: 0;
          height: 0;
          display: inline-block;
          border-left: $arrow-size/$ratio-0 solid transparent;
          border-right: $arrow-size/$ratio-0 solid transparent;
          @if ($direction == "up") {
            border-bottom: ($arrow-size)/$ratio-1 solid $arrow-color;
          } @else {
            border-top: ($arrow-size)/$ratio-1 solid $arrow-color;
          }
          background: transparent;
          opacity: $opacity;
        }

        &:before {
          top: 0;
          left: 0;
          @include sort-arrow($ax6ui-grid-header-sorter-size, 2.5, 2.2, $ax6ui-grid-header-sorter-color, 0.3, "up");
        }
        &:after {
          bottom: 0;
          left: 0;
          @include sort-arrow($ax6ui-grid-header-sorter-size, 2.5, 2.2, $ax6ui-grid-header-sorter-color, 0.3, "down");
        }

        &[data-ax6grid-column-sort-order="asc"] {
          &:before {
            top: 2px;
            left: 0;
            @include sort-arrow($ax6ui-grid-header-sorter-size + 1, 2.5, 2.0, $ax6ui-grid-header-sorter-color, 0.8, "up");
          }
          &:after {
            display: none;
          }
        }
        &[data-ax6grid-column-sort-order="desc"] {
          &:before {
            display: none;
          }
          &:after {
            bottom: 2px;
            left: 0;
            @include sort-arrow($ax6ui-grid-header-sorter-size + 1, 2.5, 2.0, $ax6ui-grid-header-sorter-color, 0.8, "down");
          }
        }

      }
      [data-ax6grid-column-filter] {
        // 개발중..
        $filter-size: 10;

        position: absolute;
        left: 0;
        top: 0;
        width: 10;
        height: 10;
        cursor: pointer;

        &:before {
          content: ' ';
          width: 0;
          height: 0;
          display: inline-block;
          border-left: $filter-size/2 solid transparent;
          border-right: $filter-size/2 solid transparent;
          border-top: ($filter-size) solid #000;
          background: transparent;
          opacity: 1;
        }

      }
    }

    [data-ax6grid-container="body"] {
      @include gridBoxModal();
      position: relative;
      overflow: hidden;
      @include gridPanel("body");

      /*
      @keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
      }

      [data-ax6grid-panel-scroll="body"]{
          table {
              @include animation(fadein 0.3s);
          }
      }
      */

    }

    [data-ax6grid-container="page"] {
      @include gridBoxModal();
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      @include ax-background(top, $ax6ui-grid-page-bg-colors);
      border: 0 none;
      border-top: $ax6ui-grid-page-border;

      [data-ax6grid-page="holder"] {
        @include gridBoxModal();
        display: table;
        //table-layout: fixed;
        width: 100%;
        height: 100%;
        [data-ax6grid-page="navigation"] {
          @include gridBoxModal();
          display: table-cell;
          vertical-align: middle;
          text-align: left;
          padding-left: $ax6ui-grid-page-navigation-padding;
          font-size: $ax6ui-grid-page-navigation-font-size;

          [data-ax6grid-page-navigation="holder"] {
            display: table;
            [data-ax6grid-page-navigation="cell"], [data-ax6grid-page-navigation="cell-paging"] {
              display: table-cell;
              vertical-align: middle;
            }
            [data-ax6grid-page-navigation="cell-paging"] {
              padding: 0 $ax6ui-grid-page-navigation-padding;
            }

            [data-ax6grid-page-move] {
              box-sizing: border-box;
              min-width: $ax6ui-grid-page-navigation-btn-min-width;
              border-radius: $ax6ui-grid-page-navigation-btn-border-radius;
              padding: 1px;
              border: $ax6ui-grid-page-navigation-btn-border;
              background: $ax6ui-grid-page-navigation-btn-bg;
              font-size: $ax6ui-grid-page-navigation-btn-font-size;
              color: $ax6ui-grid-page-navigation-btn-color;
              outline: 0;

              &[data-ax6grid-page-selected="true"], &:active {
                background-color: $ax6ui-grid-page-navigation-btn-hover-bg;
                color: $ax6ui-grid-page-navigation-btn-hover-color;
              }
              &:hover {
                text-decoration: underline;
              }
            }
          }

        }
        [data-ax6grid-page="status"] {
          @include gridBoxModal();
          display: table-cell;
          text-align: right;
          vertical-align: middle;
          padding-right: $ax6ui-grid-page-status-padding;
          font-size: $ax6ui-grid-page-status-font-size;
          color: $ax6ui-grid-page-status-color;
        }
      }
    }

    [data-ax6grid-container="scroller"] {
      @include gridBoxModal();
      position: absolute;
      right: 0;
      bottom: 0;

      $scroller-size: 15px;
      [data-ax6grid-scroller="vertical"] {
        box-sizing: border-box;
        position: absolute;
        display: none;
        right: 0;
        bottom: 0;
        width: $scroller-size;
        height: 100%;
        background: $ax6ui-grid-scroll-track-bg;
        border-left: $ax6ui-grid-scroll-track-border;

        [data-ax6grid-scroller="vertical-bar"] {
          @include scrollBar("vertical-bar");
        }
      }
      [data-ax6grid-scroller="horizontal"] {
        box-sizing: border-box;
        position: absolute;
        display: none;
        right: 0;
        bottom: 0;
        height: $scroller-size;
        width: 100%;
        background: $ax6ui-grid-scroll-track-bg;
        border-top: $ax6ui-grid-scroll-track-border;

        [data-ax6grid-scroller="horizontal-bar"] {
          @include scrollBar("horizontal-bar");
        }
      }
      [data-ax6grid-scroller="corner"] {
        position: absolute;
        display: none;
        right: 0;
        bottom: 0;
        width: $scroller-size;
        height: $scroller-size;

        background: $ax6ui-grid-scroll-corner-bg;
        border-top: $ax6ui-grid-scroll-track-border;
        border-left: $ax6ui-grid-scroll-track-border;
      }
    }

    [data-ax6grid-resizer="horizontal"] {
      @include resizer("horizontal");
    }
    [data-ax6grid-resizer="vertical"] {
      @include resizer("vertical");
    }
  }
}