<template>
  <div id="input-comp">
    <router-link to="/"> 리스트 보기 </router-link>

    <form @submit.prevent="submit" class="form">
      <div class="form-control title-field">
        <label for="title"> 제목: </label>
        <input name="title" id="title" v-model="title">
      </div>
      <div class="form-control user-field">
        <label for="user">닉네임: </label>
        <input name="user" id="user" v-model="user">
      </div>

      <div class="form-control content-field">
        <label for="content">내용: </label>
        <textarea name="content" id="content" v-model="content"></textarea>
      </div>

      <div class="form-button">
        <button @click="newPost()">새글</button>
        <button @click="remove()" v-if="id">삭제</button>
        <button type="submit" @click="submit()">확인</button>
      </div>
    </form>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Input',
  data () {
    return {
      id: '',
      title: '',
      user: '',
      content: ''
    }
  },
  methods: {
    submit () {
      if (this.id) {
        return axios
          .put('http://localhost:3000/board/' + this.id, {
            user: this.user,
            title: this.title,
            content: this.content
          })
          .then(response => {
            console.log('update board')
            this.$router.push({name: 'form', params: { id: response.data.id }})
          })
          .catch(err => {
            console.log('Invoke Error', err)
          })
      } else {
        return axios
          .post('http://localhost:3000/board', {
            user: this.user,
            title: this.title,
            content: this.content
          })
          .then(response => {
            console.log('create data')
            this.$router.push({name: 'form', params: { id: response.data.id }})
          })
          .catch(err => {
            console.log('Invoke Error', err)
          })
      }
    },
    newPost () {
      this.user = null
      this.title = null
      this.content = null
      this.id = null
    },
    remove () {
      const boardId = this.id
      axios.delete('http://localhost:3000/board/' + boardId).then((success) => {
        this.$router.push({name: 'list'})
      })
    }
  },
  created () {
    const boardId = this.$route.params.id
    if (boardId) {
      return axios.get('http://localhost:3000/board/' + boardId)
        .then((result) => {
          this.title = result.data.title
          this.user = result.data.user
          this.content = result.data.content
          this.id = result.data.id
        })
    }
  }
}
</script>

<style scoped>
.form {
  width: 100%;
  text-align: center;
}

.form-control > label {
  width: 100px;
  display: inline-block;
  text-align: right;
}
</style>
