<template>
  <div id="input-comp">
    <form @submit.prevent= "onSubmit" class="form">
      <div class="form-control title-field">
        <label for="title"> 제목: </label>
        <input name="title" id="title" v-model="title">
      </div>
      
      <div class="form-control user-field">
        <label for="user">닉네임: </label>
        <input name="user" id="user" v-model="user">
      </div>

      <div class="form-control content-field">
        <label for="content">내용: </label>
        <input name="content" id="content" v-model="content">
      </div>

      <div class="form-button">
        <button type="submit">Submit</button>
        <router-link to="/"> 리스트 보기 </router-link>
        <button @remove="onRemove()">삭제</button>
      </div>
    </form>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Input',
  data () {
    return {
      title: '',
      user: '',
      content: ''
    };
  },
  methods: {
    onSubmit () {
      axios
        .post('http://localhost:3000/board', {
          user: this.user,
          title: this.title,
          content: this.content
        })
        .then(response => {
          console.log('create data')
          this.$route.push('List')
        })
        .catch(err => {
          console.log('Invoke Error')
          this.$router.push({ name: 'List' })
        });
    },
    onRemove () {
      axios.delete('');
    }
  }
};
</script>

<style scoped>
.form {
  width: 100%;
  text-align: center;
}

.form-control > label {
  width: 100px;
  display: inline-block;
  text-align: right;
}
</style>
