<template>
  <div>
    <div data-ax6ui-grid></div>

    <login></login>
    <router-link to="/add">추가하기</router-link>
    <div class="table">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>제목</th>
            <th>닉네임</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="(board, index) in boards" :key="index">
            <td><router-link :to="{name: 'form', params: { id: board.id }}">{{board.id}}</router-link></td>
            <td><router-link :to="{name: 'form', params: { id: board.id }}">{{board.title}}</router-link></td>
            <td>{{board.user}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { AX6UIGrid as Grid } from 'ax6ui'
import Login from '@/components/Login'
import axios from 'axios'

export default {
  name: 'List',
  // mounted: function() {
  //   this.init()
  // },
  data () {
    return {
      grid: null,
      boards: null
    }
  },
  components: { Login },
  mounted: function () {
    axios
      .get('http://localhost:3000/board')
      .then(response => {
        this.boards = response.data.rows
        console.log('receive:', response)
      })
      .catch(err => console.log('Invoke Error in mounted of ListComponent', err))
  },
  methods: {
    init () {
      this.grid = new Grid({
        target: this.$el,
        columns: [
          { key: 'a', label: 'field A' },
          { key: 'b', label: 'field B' },
          { key: 'c', label: 'field C' }
        ]
      }).setData([{ a: '토마스', b: 'Thomas', c: 50000 }])
    }
  }
}
</script>

<style scoped>
table {
  width: 100%;
}
th {
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.6);
}
table > tbody > tr {
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.6);
}
</style>
