<template>
  <div id="login-comp">
    <div class="form-control">
      아이디: <input v-model="id">
    </div>
    <div class="form-control">
      패스워드: <input type="password" v-model="password">
    </div>

    <div class="form-button">
      <button @click="login">Login</button>
    </div>
  </div>
</template>

<script>
// import axios from 'axios'

export default {
  name: 'Login',
  data () {
    return {
      id: '',
      password: ''
    }
  },
  methods: {
    login () {}
  }
}
</script>

<style scoped>
</style>
